<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Gestore Pub</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright 2024 Francesco Dell'Orto</string>
  <key>NSCameraUsageDescription</key>
  <string>Accesso alla fotocamera per scanner QR code</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Accesso alla fotocamera per scanner QR code</string>
</dict>
</plist>
